# Node dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Env files
.env
.env.*

# Azure Functions local
api/local.settings.json

# Build folders
dist
coverage

# OS files
.DS_Store
Thumbs.db